@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=DM+Serif+Display:ital@0;1&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(./assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    height: 100vh;
}

/************************************* MAIN *************************************/

main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
    padding: 50px 100px;
    height: fit-content;
}

main img {
    height: 100%;
}

main .info {
    background-color: transparent;
    backdrop-filter: blur(40px);
    border-radius: 20px;
    padding: 20px;
    height: fit-content;
}

main .info h1 {
    font-size: 48px;
    font-family: 'Arvo', serif;
}

main .info p {
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

main .info ul {
    font-size: 18px;
    font-family: 'Arimo', sans-serif;
    font-weight: 500;
    padding: 10px 20px;
}

main .info ul li::marker {
    font-size: 24px;
}

/************************************* NAVBAR *************************************/

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(40px);
    border-radius: 20px;
    height: 76px;
    width: 80%;
    z-index: 999999;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav ul li {
    margin: 20px;
    position: relative;
    font-family: 'Arvo', serif;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/************************************* FOOTER *************************************/

footer {
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(40px);
    padding: 20px 100px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: -32px;
    font-family: 'DM Serif Display', serif;
    font-weight: 100;
    letter-spacing: 1px;
}

footer p {
    color: #fff;
}

footer a {
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
}